#navBar{
    overflow: hidden;
    float:right;
    text-decoration: none;
    padding:14px 16px;
    text-align:center;
}


nav ul {
    list-style: none;
    margin:10px;
}

nav li {
    display: inline-block;
    padding: 5px;
    margin:10px;
}

nav ul li a {
    color: #008080;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #934A5F;
  }

.projectPictures{
    max-width: 300px;
    width:100%;
    height:auto;
}


#welcomeSection {
    background-color: #E5E5E5;
    min-height: 100px;
    margin-top: -20px;
    color: #57648C;

}

#welcomeTitle{
    margin: 10px;
    padding:10px;
position: fixed;
}

h2 {
    margin-top: 50px;
    color:#E5E5E5;

}

#projects {
    background-color: #57648C;
    padding: 15px;
  margin-top: -20px;
}

#projects, body {
    color: #eeeeee;
    text-align: center;
    font-weight: bold;
}

.projectTitle, .projectPictures {
    text-decoration: none;
    overflow: hidden;
    border: 2px solid #C2B4D6;
   
}

.projectPictures{
    align-items: center;
    overflow: hidden;
    border: 2px solid #C2B4D6 ;
}

.projectPictures:hover {
    opacity:.5;
}

.view {
    text-decoration: none;
    display: block;
    width: 150px;
    height: 20px;
    margin: 20px auto 60px;
     background: #E5E5E5;
    color: #57648C;
    font-weight: bold;
    border: 2px solid #C2B4D6 ;
    border-radius: 50px;
    cursor: pointer;

}

.view:hover {
    opacity:.8;
}

#contact {
    background-color:#934A5F;
    margin-top:-50px;
    color: #E5E5E5;
    padding: 5px; 
}

.contactDetails {
    text-decoration: none;
    display: block;
    width: 150px;
    height: 20px;
    margin: 20px auto 30px;
     background: #E5E5E5;
    color: #57648C;
    font-weight: bold;
    border: 2px solid #C2B4D6 ;
    border-radius: 50px;
    cursor: pointer;

}
footer {
    background-color: #E5E5E5;
    height: 30px;
    color: #57648C;
    padding: 5px;
}





